body {

	padding: 0;
	margin: 0;
	border-top: 20px solid #d07756;
	background-color: #f9f9ef;
}

a[href^=tel]{

	text-decoration: none;
	color: #445f7a;

}

#content {

	width: 960px;
	margin: 0 auto;
}


 img {

	width: 27.5%;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 50px;
	
}

#info {

	width: 33.3%;
	margin: 0 auto;

}

#info p {

	font-family: "bebas-neue", "Helvetica Neue" Helvetica, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	color: #445f7a;
	text-align: center;

}

#info p#title {

	font-family: lobster, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #d07756;
	letter-spacing: 0;

}

@media (max-width: 768px){

	#content {

		width: 100%;
	}

	img {

		width: 30%;
		margin-top: 60px;
		margin-bottom: 50px;
	}

	#info {

		width: 90%;	
	}

	#info p {

		font-size: 24px;
	}

	#info p#title {

		font-size: 18px;
	}
}

@media (max-width: 568px){

	#content {

		width: 100%;
	}

	img {

		width: 30%;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	#info {

		width: 90%;	
	}

	#info p {

		font-size: 20px;
	}

	#info p#title {

		font-size: 16px;
	}
}

@media (max-width: 400px){

	#content {

		width: 100%;
	}

	img {

		width: 50%;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	#info {

		width: 90%;	
	}

	#info p {

		font-size: 20px;
	}

	#info p#title {

		font-size: 16px;
	}
}


